*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    color: #333333;
}
.error{
    color: #ff0000;
    height: 20px;
    color: #ff0000;
    margin-left: 42px;
    font-size: 15px;
}
.header{
    border: 1px solid black;
    width: 100%;
    height: 82px;
    position: relative;
    background-color: #253B80;
    display: flex;
}
.header img{
    width: 80px;
    height: 80px;
    margin-left: 30px;
}
.searching-container{
    position: absolute;
    right: 100px;
    margin-top: 13px;
    border-radius: 30px;
    border: 1px solid #333333;
    width: max-content;
    height: max-content;
    background-color: #fff;
}
.input-wrapper input{
    border: 1px solid #dbdbdb ;
    padding: 10px 15px;
    border-radius: 10px;
    width: 85%;
    outline: none;
    margin-left: 25px;
}
/* .input-wrapper{
    margin-bottom: 20px;
} */
#input-searching-word-form  input{
    border: none;
    border-radius: 30px;
    height: 50px;
    outline: none;
    padding: 10px 15px;
    width: 100%;
}
#input-searching-word-form{
    position: relative;
    width: 400px;
}
#input-searching-word-form button{
    position: absolute;
    right: 10px;
    top: 7px;
    border: none;
    background: none;
    color: 037bfe;
    font-size: 24px;

}
.body{
    /* border: 1px solid black; */
    width: 100%;
    height: calc(100vh - 48px - 80px);
    display: flex;
}
.body .aside-left{
    /* height: 100%;
    width: 300px; */
    flex-grow: 1;
    border: 1px solid black;
    overflow-y: auto;
}
.body .center{
    /* width: calc(100ch - 700px);
    /* flex-grow: 1; */
    width: 800px;
    height: 100%;
    border: 1px solid black;
}
.body .center .one-word-meaning{
    width: 100%;
    height: 100%;
}
.body .aside-right{
    height: 100%;
    width: 350px;
    border: 1px solid black;
}
.body .aside-left .word{
    border-bottom: 1px solid black;
    padding: 7px 15px 7px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.body .aside-left .word:hover{
    border-bottom: 1px solid black;
    padding: 7px 15px 7px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    background-color: #46a5e5;
}
.body .center .word-target{
    font-size: 36px;
    padding: 15px 20px 0px 20px;
    /* border: 1px solid black; */
    font-weight: 400;
}
.body .center .word-meaning{
    /* border: 1px solid black; */
    font-weight: 500;
    padding: 40px 50px 0px 20px;
    line-height: 46px;
    font-size: 20px;
    width: 100%;
}
.body .center .transcribe-phonetically{
    padding-left: 20px;
}
.current{
    background-color: #c3c3c3;
}
.function-input-area{
    height: max-content;
    width: 100%;
    /* border: 1px solid black; */
}
.dictionary-function{
    display: flex;
}
.function-input-area{
    position: relative;
}
.function-btn{
    padding: 5px 10px 5px 10px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    position: absolute;
    right: 25px;
}
.input-wrapper textarea{
    border: 1px solid #dbdbdb ;
    padding: 10px 15px;
    border-radius: 10px;
    width: 85%;
    outline: none;
    margin-left: 25px;
}
.selecct-function{
    border: 1px solid #dbdbdb;
    width: 50%;
    text-align: center;
    font-size: 20px;
    color: #333333;
    padding: 5px;
    margin-bottom: 50px;
    cursor: pointer;
}
.currret-function{
    background-color: #c3c3c3;
}